@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: none;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
strong {
    color: #273849;
}


#Profile {
    .profileName {
        color: blueviolet;

    }

    .profileDesc h2 {
        font-weight: 300;
        margin: 0;
        font-size: 1.6em;
    }
}


#ProfileLinks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#profilePhoto {
    width: 100%;
    height: auto;
    margin: 98px 0 0 0;
    max-width: 175px;
    background: white;
    padding: 4px;
    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
    border-radius: 50%;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

#profileCover {
    background: url('../assets/cover-image.png') no-repeat center center;
    position: fixed;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    height: 200px;
}